*~
*.pyc
.idea/*
*.egg-info/*
*tmp*.py
*tmp*
*.*.backup
**/__pycache__/
**/results/
**/results_*/
**/template_icl/
**/.ipynb_checkpoints/
**/demo/

# jekyll theme ignores
*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*


tmp.txt
wisdom.fftw
*.mat
*Copy*.ipynb
*.swp
*.tmp

# Directories (and subdirectories)
**/__pycache__/
**/.ipynb_checkpoints/

